*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box  ;
}

.flex-container{
    background-color: green;
    display: flex;
    height: 700px;
    /* flex-direction: row;   PADRAO DISPLAY FLEX*/
    /* align-items: stretch; PADRÃO DISPLAY FLEX*/
    /* justify-content: center; PADRÃO DISPLAY FLEX*/
    justify-content: space-between;
    /* justify-content: space-around; */
    /* justify-content: space-between; */
    align-items: center;
    /* align-items: flex-start; */
    /* align-items: flex-end; */
    /* align-items: baseline; ALINHAMENTO A PARTIR DA LINHA BASE DA FONTE*/
    flex-wrap: wrap;
}

.flex-item {
    background-color: red;
    width: 100%;
    text-align: center;
    margin: 10px;
    flex-grow: 1;
}

.flex-item:nth-child(3){
    background-color: beige;
}